html {
    overflow-x: hidden;
}

.topPanel,
.ux-banner-user,
.bottomPanel {
    display: none !important;
}

.layoutContainer {
    margin-bottom: 80px;
}

.centerPanel>div {
    margin: 0 !important;
}

.ux-navigation-container {
    list-style-type: none;
    padding: 0;
    text-align: left;
    margin: 25px 0;
    background: transparent;
    padding: 0;
}

.ux-navigation-container>li .label {
    background: #d4d4d4 !important;
    color: #fff !important;
    color: #fff !important;
    border-radius: 0;
}

.ux-navigation-container>li .label.ux-reg-progress-current {
    background: #102d5c!important;
}

.btn {
    background-color: #105185;
    font-size: 20px !important;
    padding: 5px 30px;
    color: #fff !important;
    transition: backround 0.25s ease-out;
}

.btn:hover,
.btn:focus {
    border: none;
    text-decoration: none !important;
    background-color: #102d5c !important;
}

.btn.ux-page-btn-secondary {
    background: #eaeaea !important;
}

.btn.ux-page-btn-secondary:hover,
.btn.ux-page-btn-secondary:focus {
    background: #c0c0c0 !important;
}

#ctl00_cphBody_panButtons {
    background: #105185;
    font-size: 20px !important;
    color: #fff !important;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    box-shadow: 0px -4px 15px 4px rgba(128, 126, 126, 0.6);
}

#ctl00_cphBody_panButtons .btn {
    margin: 0 !important;
    width: 60%;
    box-sizing: border-box;
    float: right;
    display: block;
    padding: 15px 0 !important;
    border: none;
    text-transform: uppercase;
}

#ctl00_cphBody_panButtons .btn.ux-page-btn-secondary {
    width: 40%;
    text-decoration: none;
}